body{
    position: relative;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.header{
    background-color: grey;
    border: 1px solid black;
    padding: 10px;
}

.left-header{
   float: left;
}
.left-header div{
    margin-right: 5px;
    float: left;
}

.right-header{
    float: right;
}
.right-header div{
    margin-left: 5px;
    float: left;
}

.middle{
    margin-top: 30px;
    background: yellowgreen;
    border: 1px solid black;
    position: relative;
}

.middle .middleCenterBox{
    width: 50%;
    border: 1px solid black; 
    margin: 0 auto;
}

.middle .middleCenterBox .imgbox{
    width: 50%;
    border: 1px solid green;
    margin: 0 auto;
}
.middle .middleCenterBox label  {
    width: 80%;
    border: 1px solid red;
    margin: 0 auto;
    
}

.middle .middleCenterBox label input {
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    
}




