body{
    position: relative;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.header{
    background-color: grey;
    border: 1px solid black;
    padding: 10px;
}

.left-header{
   float: left;
}
.left-header div{
    margin-right: 5px;
    float: left;
}

.right-header{
    float: right;
}
.right-header div{
    margin-left: 5px;
    float: left;
}

.middle{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: yellowgreen;
    border: 1px solid black;
}

.middle .middleCenterBox{
    width: 50%;
    background-color: darkgray;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.middle  .middleCenterBox .imgbox{
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
}
.middle .middleCenterBox input{
    width: 100%;
}
.middle .middleCenterBox .smallbox{
    
}
.middle .middleCenterBox .smallbox .luckybox{
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
}
.middle .middleCenterBox .smallbox .luckybox div{
    float: left;
    margin-right: 10px;

    border: 1px solid black;
    background-color: blue;
} 


footer{

    background: green;

}


